@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@{
    Layout = null;
}
<h1 class="text-center mb-4">@ViewData["Title"]</h1>
<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Password Reset Successful!</h4>
    <p>Your password has been reset. Please <a href="/identity/Account/Login" " class="alert-link">click here to log in</a>.</p>
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">